.block-title
    min-height: 481px
    width: 183px
    background-color: $primary-color
    .logo
        margin: 24px 7px
        font-size: 49px
        color: $primary-color-txt
        writing-mode: vertical-rl
        transform: rotate(180deg)