.block-title
    width: 181px
    background-color: $primary-color
    .logo
        margin: 24px 7px
        font-size: 49px
        color: $primary-color-txt
        writing-mode: vertical-rl
        transform: rotate(180deg)