doctype html
html(lang="en")
    include ../components/head/head.pug
    body
        .wrap.d-flex.flex-column.justify-content-center.align-items-center 
            main.content.d-flex.flex-row.justify-content-center.align-items-center 
                include ../components/aside/aside.pug 
                include ../components/form-registration/form-registration.pug 