doctype html
html(lang="en")
    include ../components/head/head.pug
    body
        .wrap
            main.content.d-flex
                include ../components/aside/aside.pug 
                include ../components/form-registration/form-registration.pug 
                            //- .d-flex.flex-row.justify-content-center.align-items-center 