.wrap-form
    min-width: 300px
    min-height: 481px
    background-image: url(../static/img/bgc-person.png) 	
    background-repeat: no-repeat
    background-position: right bottom
.form-registration
    gap: 20px
    .form-label
        width: 250px
    .btn-submit
        width: 154px
        height: 32px
        font-size: 14px
        background-color: $primary-color
        color: $primary-color-txt
.input__border
    border-top: none
    border-left: none
    border-right: none
    border-radius: 0