@import  reset
@import  var
@import ../components/aside/aside.sass
.wrap
    max-width: 800px
    min-height: 600px
    margin: 0 auto
    background-color: #F2F2F2
    font-family: $font-family
.content 
    max-width: 665px
    min-height: 481px
    background-color: #FFFFFF