@import  reset
@import  var
@import ../components/aside/aside.sass
@import ../components/form-registration/form-registration.sass
@import ../components/link-login/link-login.sass
.wrap
    max-width: 800px
    min-height: 600px
    margin: 0 auto
    padding-top: 60px
    background-color: #F2F2F2
    font-family: $font-family
.content
    margin: 0 auto
    max-width: 666px
    min-height: 480px
    background-color: #FFFFFF
    gap: 21px
.title
    margin-top: 39px
    font-size: 22px
    font-weight: 600
    letter-spacing: 1.4px
    color: $second-color-txt
.subtitle
    margin: 0
    margin-top: -8px
    margin-bottom: 18px
    font-size: 14px
    font-weight: 300
    letter-spacing: .7px
    color: $second-color-txt
